.programs {
  margin-top: 4rem;
}

.programs__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

.programs__program a {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.programs__program:hover a {
  /* background-color: var(--color-secodary); */
  color: var(--color-gray-600);
}

.card .img {
  width: 8rem;
  height: 5rem;
  background-color: var(--color-primary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.card:hover .img {
  background-color: var(--color-secondary);
  color: var(--color-gray-600);
}
