.card {
  /* background-color: var(--color-gray-500); */
  background-color: white;
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem;
  border-radius: 0 3rem 0 3rem;
  transition: var(--transition);
}

.card:hover {
  /* background-color: transparent; */
  background-color: white;

  /* border-color: var(--color-gray-400); */
  cursor: default;
  border: 2px solid var(--color-light-gray);
}

.card span {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-primary);
  color: var(--color-gray-100);
  font-size: 1.5rem;
  padding: 0.8rem;
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  border-radius: 1rem;
  transition: var(--transition);
}

.card:hover span {
  /* background-color: var(--color-secondary); */
  color: var(--color-gray-600);
}

.card small {
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}
