.main__header {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

.main__header-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

.main__header-left {
  margin-top: -3rem;
}

.main__header-left h4 {
  margin-bottom: 1rem;
  color: var(--color-secondary);
  font-weight: 400;
}
.main__header-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.1rem;
}

.main__header-right {
  display: grid;
  place-items: center;
  position: relative;
}
.main__header-circle {
  width: 25rem;
  height: 25rem;
  background: linear-gradient(75deg, var(--color-primary), transparent);
  border-radius: 50%;
  filter: blur(15px);
  position: absolute;
  transition: var(--transition);
}
.main__header-image {
  position: relative;
}

/* .main__header-right:hover .main__header-circle {
  filter: blur(15px);
} */

/* media queries (medium screens) */
@media screen and (max-width: 1024px) {
  /* main header */
  .main__header {
    height: fit-content;
    padding: 12rem 0;
  }
  .main__header-container {
    gap: 0;
  }
  .main__header-circle {
    width: 16rem;
    height: 16rem;
  }
  /* programs */
  .programs__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  /* values */
  .values__container {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 4rem;
  }
  .values__wrapper {
    gap: 4rem 3rem;
  }
  .values__image {
    display: none;
  }
  /* FAQs */
  .faqs__wrapper {
    grid-template-columns: 1fr;
  }
  /* testimonials */
  .testimonials {
    width: 75%;
  }
  /* footer */
  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

/* media queries (small screens) */
@media screen and (max-width: 600px) {
  /* main header */
  .main__header {
    margin-top: 0;
    padding: 12rem 0 0;
    height: 100vh;
  }
  .main__header-image,
  .main__header-circle {
    display: none;
  }
  .main__header-container {
    grid-template-columns: 1fr;
  }
  /* programs */
  .programs__wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 3rem;
  }
  .programs__program {
    width: 84%;
    margin: 0 auto;
  }
  /* values */
  .values__wrapper {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .card.values__value {
    width: 84%;
    margin-inline: auto;
  }
  /* FAQs */
  .faqs__wrapper {
    gap: 1rem;
    margin-top: 3rem;
  }
  /* testimonials */
  .testimonials {
    width: 100%;
  }
  /* footer */
  footer {
    margin-top: 7rem;
  }
  .footer__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .footer__container article {
    align-items: center;
  }
  .footer__container article p {
    text-align: center;
  }
}
